  {{#each comments as |comment|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <p>{{comment.content_text}}</p><hr>
        <p>{{user.id}}</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{comment.id}}">DELETE</button>
      </div>
    </div>
