<!-- Loop over each object in the projects array -->
    <div class="row text-center">
        <div class="col-lg-6">
            <h2>Already a member? or Need to Signup?</h2>
            <a class="btn btn-outline-primary" href="/login" role="button">Login or Signup</a>
        </div>
    </div> 
    <div class="container mt-5">
        <h1 class="mb-4">View all Posts!</h1>
        <div id="postsList" class="row">
            {{#each posts as |post|}}
            <div class="col-md-6">
               <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.content}}</p>
                        <a href="/posts/{{this.id}}" class="btn btn-primary">View Post</a>
                    </div>
               </div> 
            </div>
            {{/each}}
        </div>
    </div>



